@font-face {
  font-family: 'gapchuk-icons';
  src: url("../fonts/gapchuk-font/gapchuk-icons.ttf?2sfz1v") format("truetype"), url("../fonts/gapchuk-font/gapchuk-icons.woff?2sfz1v") format("woff"), url("../fonts/gapchuk-font/gapchuk-icons.svg?2sfz1v#gapchuk-icons") format("svg");
  font-weight: normal;
  font-style: normal; }

/* line 15, E:/IT/OpenServer/domains/gapchuk.com.dev/css/fonts.scss */
i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'gapchuk-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* line 30, E:/IT/OpenServer/domains/gapchuk.com.dev/css/fonts.scss */
.icon-fb:before {
  content: "\f09a"; }

/* line 33, E:/IT/OpenServer/domains/gapchuk.com.dev/css/fonts.scss */
.icon-gp:before {
  content: "\f0d5"; }

/* line 36, E:/IT/OpenServer/domains/gapchuk.com.dev/css/fonts.scss */
.icon-mailto:before {
  content: "\f0e0"; }

/* line 39, E:/IT/OpenServer/domains/gapchuk.com.dev/css/fonts.scss */
.icon-insta:before {
  content: "\f16d"; }

@font-face {
  font-family: "georgia-normal";
  src: url("../fonts/georgia/georgia.ttf"); }

@font-fase {
  font-family: "georgia-bold";
  src: url("../fonts/georgia/georgia-bold.ttf"); }

@font-face {
  font-family: "pt-sans-normal";
  src: url("../fonts/pt-sans/pt-sans.ttf"); }

@font-face {
  font-family: "pt-sans-bold";
  src: url("../fonts/pt-sans/pt-sans-bold.ttf"); }

@font-face {
  font-family: "pt-sans-italic";
  src: url("../fonts/pt-sans/pt-sans-italic.ttf"); }

@font-face {
  font-family: "pt-sans-bold-italic";
  src: url("../fonts/pt-sans/pt-sans-bold-italic.ttf"); }

/*# sourceMappingURL=fonts.css.map */
