$basepath: '../fonts/';
$iconpath: 'gapchuk-font/';
$fontname: 'gapchuk-icons';

@font-face {
  font-family: 'gapchuk-icons';
  src:
    url($basepath+$iconpath+$fontname+'.ttf?2sfz1v') format('truetype'),
    url($basepath+$iconpath+$fontname+'.woff?2sfz1v') format('woff'),
    url($basepath+$iconpath+$fontname+'.svg?2sfz1v#gapchuk-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'gapchuk-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fb:before {
  content: "\f09a";
}
.icon-gp:before {
  content: "\f0d5";
}
.icon-mailto:before {
  content: "\f0e0";
}
.icon-insta:before {
  content: "\f16d";
}

@mixin font-url($foldername, $fontname){
  src: url($basepath+$foldername+'/'+$fontname+'.ttf');
}

//gergia
@mixin font-georgia($type: 'normal'){
  font:{
    family:'georgia-'+$type;
  }
}

@font-face{
  @include font-georgia;
  @include font-url('georgia','georgia');
}

@font-fase{
  @include font-georgia('bold');
  @include font-url('georgia','georgia-bold');
}

//pt sans 
@mixin font-pt($type:'normal'){
  font: {
    family:'pt-sans-'+$type;
  }
}

@font-face{
  @include font-pt;
  @include font-url('pt-sans','pt-sans');
}

@font-face{
  @include font-pt('bold');
  @include font-url('pt-sans','pt-sans-bold');
}

@font-face{
  @include font-pt('italic');
  @include font-url('pt-sans','pt-sans-italic');
}

@font-face{
  @include font-pt('bold-italic');
  @include font-url('pt-sans','pt-sans-bold-italic');
}
