@import 'fonts';
$logo-colour:#333F45;
@mixin border($size:1px, $color:white, $type:solid) {
  border: $size $type $color;
}

@mixin round-border($size:1px, $color:white, $type:solid) {
  border-radius: 50%;
  @include border($size, $color, $type);
}

@mixin size-setter($width, $height) {
  width: $width;
  height: $height;
}

body,
html {
  min-height: 100%;
}

section {
  height: 100vh !important;
  width: 100% !important;
}

nav {
  background-color: white;
  height: 85px;
  position: fixed;
  top: 0px;
  left: 0px;
  overflow: hidden;
  width: 100%;
  display: block !important;
  position: fixed;
  ul {
    padding-top: 7px;
  }
  ul a {
    color: $logo-colour;
    font-weight: 500;
    font-size: 17px;
  }
}

header.main {
  z-index: 999999999;
  position: relative;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  .logo {
    margin-top: 6px;
    float: left;
    font-size: 100px;
    text-align: center;
    line-height: 50px;
    @include round-border(2px, $logo-colour);
    @include size-setter(75px, 75px);
    >i {
      color: #333F45;
      font-size: 68px;
      margin-top: 7px;
    }
  }
  .logotype {
    height: 80px;
  }
  .left {
    margin-left: 10px;
  }
  span {
    @include font-georgia;
  }
  .logo-title {
    text-transform: uppercase;
  }
  .logo-title,
  .logo-subtitle {
    @include font-pt;
    color: $logo-colour;
    font-size: 28px;
    text-align: center;
  }
  .logo-subtitle {
    display: block;
    font-size: 20px;
    margin-top: -40px;
  }
}

.image-filter {
  min-height: 100%;
  height: auto !important;
  width: 100%;
  left: 0;
  position: relative;
  background-color: rgba(0, 0, 0, .4);
  content: none;
}

.text-wrapper {
  color: white;
  position: absolute;
  z-index: 3;
  bottom: 10%;
}

main.content {
  overflow: hidden;
  section.hero {
    background-image: url(../img/hero-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    left: 0px;
    top: 0px;
    z-index: -10;
    .scroll-down {
      position: absolute;
      right: 0;
      bottom: 50px;
      left: 0;
      margin: auto;
      width: 34px;
      height: 55px;
    }
    .mousey {
      z-index: 10;
      width: 3px;
      padding: 10px 15px;
      height: 35px;
      border: 2px solid #fff;
      border-radius: 25px;
      opacity: 0.75;
      box-sizing: content-box;
    }
    .scroller {
      width: 3px;
      height: 10px;
      border-radius: 25%;
      background-color: #fff;
      animation-name: scroll;
      animation-duration: 2.2s;
      animation-timing-function: cubic-bezier(.15, .41, .69, .94);
      animation-iteration-count: infinite;
    }
    @keyframes scroll {
      0% {
        opacity: 0;
      }
      10% {
        transform: translateY(0);
        opacity: 1;
      }
      100% {
        transform: translateY(15px);
        opacity: 0;
      }
    }
  }
}

.divider {
  margin-top: 14px;
  display: block;
  width: 64%;
  height: 3px;
  background-color: white;
}

.title {
  @include font-georgia('bold');
  width: 34%;
  font-size: 70px;
  font-weight: 900;
}

.text-block {
  margin-left: -60px;
  margin-top: -20px;
}

.info-text {
  width: 90%;
  @include font-pt;
  font-size: 28px;
}

section.individual {
  position: relative;
  background-color: black;
  z-index: 1;
  .ind-photo {
    background-image: url(../img/ind-photo1.jpg);
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vh;
    position: absolute;
    right: 0px;
    bottom: 0px;
  }
  .text-wrapper {
    top: 10%;
    z-index: 10;
  }
  .text-block {
    margin-left: -60px;
    margin-top: -20px;
    @import 'fonts';
  }
}

section.goods {
  @include font-georgia;
  background-color: #ededed;
  padding: 80px 0;
  position: relative;
  height: auto !important;
  .product {
    position: relative;
    text-align: center;
    height: 770px;
    border: 1px solid transparent;
    &.center {
      .aligner {
        height: 736px;
      }
      .product-info {
        bottom: 176px;
      }
    }
    &.right {
      .aligner {
        height: 600px;
      }
      .product-info {
        bottom: 40px;
      }
    }
  }
  .product-popup {
    position: absolute;
    transition: opacity 200ms ease;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0;
    background-color: white;
    opacity: 0;
    z-index: 10;
    .product-about {
      display: table-cell;
      vertical-align: middle;
    }
    .product-about-title {
      @include font-georgia;
      font-weight: bold;
      font-size: 50px;
    }
    .product-about-text {
      @include font-pt;
      font-weight: 500;
      font-size: 20px;
      margin: 30px;
    }
  }
  .product .center .product-popup {
    bottom: 176px;
  }
  .product:hover {
    border: 1px solid black;
  }
  .product:hover .product-popup {
    opacity: 0.9;
  }
  .aligner {
    height: 600px;
  }
  .product-info {
    background-color: white;
    text-align: center;
    position: relative;
    bottom: 40px;
    width: 100%;
    height: 180px;
    .title {
      font-family: inherit;
      width: 100%;
      font-size: 36px;
      font-weight: 500;
    }
    .price {
      font-family: inherit;
      font-size: 24px;
      width: 100%;
    }
    .button-order {
      margin: 0 auto;
      color: white;
      border: 1px solid black;
      @include font-pt;
      background-color: black;
      padding: 10px 57px;
      font-size: 24px;
      position: relative;
      z-index: 20;
      box-shadow: none;
      transition: background 0.3s ease, color 0.3s ease;
      &:hover {
        background-color: white;
        color: black;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        z-index: 20;
      }
    }
  }
}

section.bespoke {
  background-image: url(../img/bespoke.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  position: relative;
  left: 0px;
  top: 0px;
  z-index: -10;
  background-color: black;
  .title,
  .info-text {
    z-index: 11;
    color: white;
  }
  .text-block {
    margin-top: 215px;
    position: absolute;
    width: 65% !important;
  }
  .text-wrapper {
    top: 10%;
  }
}

section.materials {
  background-image: url(../img/amadeus.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  left: 0px;
  top: -50px;
  z-index: -10;
  .materials-image-filter {
    min-height: 100%;
    height: auto !important;
    width: 100%;
    left: 0;
    position: relative;
    background-color: rgba(0, 0, 0, .4);
    z-index: 10;
  }
  .materials-wrapper {
    color: white;
    position: relative;
    padding-top: 100px;
    padding-right: 100px;
  }
  .title {
    font-size: 45px;
    width: 100%;
    text-align: right;
    vertical-align: middle;
    margin: 50px 0;
  }
}

section.contact-form {
  background-image: url(../img/contact.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 50px;
  position: relative;
  .image-filter {
    background-color: rgba(0, 0, 0, .6);
  }
  form {
    z-index: 1000;
    top: 80px;
    left: 80px;
    position: absolute;
    width: 90%;
    .center-align {
      color: white;
    }
    .input-field {
      input,
      textarea {
        box-sizing: border-box;
        padding: 5px 10px;
        color: white;
        border: 3px solid white;
        box-shadow: none;
        &:focus {
          border: 3px solid white;
          box-shadow: none;
        }
      }
      textarea {
        height: 200px;
        max-height: 250px;
      }
    }
    button[type='submit'] {
      float: right;
      background-color: transparent;
      border: 3px solid white;
      box-shadow: none;
      font-weight: bold;
      margin-right: 13px;
    }
    button:hover {
      background-color: white;
      color: black;
      box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    }
  }
}

section.contacts {
  .row {
    margin-bottom: 0;
  }
  position: relative;
  .address {
    @include font-pt;
    font-size: 33px;
    color: white;
    height: 350px;
    .address-left {
      height: 100%;
      background-color: #3F3F3F;
    }
    .address-right {
      height: 100%;
      background-color: #303030;
    }
    p {
      margin-top: 95px;
    }
  }
  .map-container {
    position: relative;
    height: auto;
  }
  .map-filter{
    height: 100%;
    width: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.2);
    z-index: 100;
  }
  #map {
    width: 100%;
    height: 800px;
    overflow: hidden;
    z-index: 10;
  }

}

footer {
  height: 230px;
  background-color: black;
  bottom: 0;
  position: relative;
  color: white;
  text-transform: uppercase;
  @include font-pt;
  font-size: 20px;
  .socials {
    padding-top: 60px;
  }
  a {
    font-size: 30px;
    display: inline-block;
    height: 50px;
    width: 50px;
    border-radius: 20%;
    background-color: white;
    color: black;
    line-height: 50px;
    text-align: center;
    transition: background 0.3s ease, color 0.3s ease;
    &:hover {
      background-color: black;
      color: white;
    }
  }
  .row {
    margin-bottom: 0;
  }
  .center-align {
    margin-bottom: 0;
  }
}

.carousel {
  top: 200px;
  height: 800px;
  .carousel-item {
    width: 800px;
  }
  ul.indicators {
    bottom: 20px;
    li {
      border: 1px solid black;
      border-radius: 50%;
      background-color: white !important;
      &.active {
        background-color: black !important;
      }
    }
  }
}

.carousel .indicators .indicator-item {
  margin: 70px 5px;
  height: 10px;
  width: 10px;
}


/*media queries*/

@media screen and (max-width: 1220px) {
  section.individual .text-wrapper {
    top: 170px;
  }
  nav.main-menu {
    & ul,
    a {
      display: none;
    }
  }
  section.goods {
    .product-popup {
      .product-about-title {
        font-size: 30px;
      }
      .product-about-text {
        font-size: 18px;
      }
    }
    .product {
      height: 573px;
      img {
        height: 400px;
      }
      &.center {
        height: 573px;
        .aligner {
          height: 536px;
        }
      }
      &.right {
        .aligner {
          height: 400px;
        }
      }
    }
  }
  section.contact-form form {
    left: 35px;
  }
  section.materials .materials-wrapper {
    padding-right: 20px;
  }
}

@media screen and (max-width: 970px) {
  section.hero .text-wrapper {
    bottom: 150px;
  }
  .info-text {
    font-size: 22px;
  }
  .title {
    font-size: 55px;
  }
  section.individual .text-wrapper {
    .text-block {
      .info-text {
        width: 100%;
      }
    }
  }
  section.goods {
    .product {
      height: 458px;
      img {
        height: 290px;
      }
      &.center {
        height: 459px;
        .aligner {
          height: 426px;
        }
        .product-info {
          bottom: 176px;
        }
      }
      &.right {
        .aligner {
          height: 290px;
        }
      }
      .product-popup {
        .product-about {
          p.product-about-text {
            font-size: 14px;
          }
        }
      }
    }
  }
  section.contacts .address p {
    font-size: 26px;
  }
}

@media screen and (max-width:756px) {
  section.goods {
    .product-popup {
      .product-about {
        p.product-about-text {
          font-size: 12px !important;
        }
      }
    }
    .product-info {
      font-size: 20px;
      .title{
        font-size: 28px;
      }
      a.button-order {
        font-size: 12px;
      }
    }
  }
  section.contacts .address p {
    font-size: 20px;
  }
}

@media screen and (max-width:600px) {
  .text-block {
    margin-left: 0px !important;
  }
  section.goods {
    .product-popup {
      .product-about {
        .product-about-title {
          font-size: 62px;
        }
        p.product-about-text {
          font-size: 24px !important;
        }
      }
    }
    .product {
      height: 790px;
      img {
        height: 610px;
      }
      &.center {
        height: 858px;
        .aligner {
          height: 806px;
        }
      }
      &.right {
        height: 790px;
        .aligner {
          height: 610px;
        }
      }
    }
    .product-info {
      font-size: 40px;
      height: 190px;
      a.button-order {
        font-size: 20px;
      }
    }
  }
  section.contacts {
    #map {
      height:674px;
    }
    .address {
      height: 50%;
      p {
        margin-top: 20px;
      }
    }
  }
}

@media screen and (max-width:440px) {

  section.hero .text-wrapper {
    bottom: 280px;
  }
  header.main .logotype {
    height: 53px;
    margin: 10px auto;
  }
  .title {
    font-size: 40px;
    width: 60%;
    line-height: 1.2;
  }

  section.goods {
    .product {
      height:568px;
      img {
        height: 390px;
      }
      &.center {
        height: 470px;
        .aligner {
          height: 426px;
        }
        .product-info {
        }
      }
      &.right {
        height: 470px;
        .aligner {
          height: 290px;
        }
      }
      .product-popup {
        .product-about {
          p.product-about-title{
            font-size: 40px;
            padding-top: 10px;
          }
          p.product-about-text {
            font-size: 14px !important;
          }
        }
      }
    }
  }

  section.bespoke .text-block {
    width: 100% !important;
  }
}

@media only screen
  and (min-device-width : 768px)
  and (max-device-width : 1024px)
  and (orientation : portrait) {
    section {
      height: 70vh !important;
    }
    section.contacts #map {
      height: 960px;
    }
    section.bespoke .text-wrapper {
      top: 20%;
      right: 10%;
    }
    section.individual .ind-photo {
      height: 100%;
    }
    section.contact-form {
      height: 55vh !important;
    }
}

@media only screen
  and (min-device-width : 414px)
  and (max-device-width : 736px) {
    section {
      height: 70vh !important;
    }
    section.contacts #map {
      height: 960px;
    }
    section.bespoke .text-wrapper {
      top: 20%;
      right: 10%;
    }
    section.individual .ind-photo {
      height: 100%;
    }
    section.contact-form {
      height: 55vh !important;
    }
}

@media only screen
  and (min-device-width : 375px)
  and (max-device-width : 667px) {
    section {
      height: 70vh !important;
    }
    section.contacts #map {
      height: 960px;
    }
    section.bespoke .text-wrapper {
      top: 20%;
      right: 10%;
    }
    section.individual .ind-photo {
      height: 100%;
    }
    section.contact-form {
      height: 55vh !important;
    }
}

@media only screen
  and (min-device-width : 320px)
  and (max-device-width : 568px) {
    section {
      height: 70vh !important;
    }
    section.contacts #map {
      height: 960px;
    }
    section.bespoke .text-wrapper {
      top: 20%;
      right: 10%;
    }
    section.individual .ind-photo {
      height: 100%;
    }
    section.contact-form {
      height: 55vh !important;
    }
}

@media only screen
  and (min-device-width : 320px)
  and (max-device-width : 480px) {
    section {
      height: 70vh !important;
    }
    section.contacts #map {
      height: 960px;
    }
    section.bespoke .text-wrapper {
      top: 20%;
      right: 10%;
    }
    section.individual .ind-photo {
      height: 100%;
    }
    section.contact-form {
      height: 55vh !important;
    }
}
