@font-face {
  font-family: 'gapchuk-icons';
  src: url("../fonts/gapchuk-font/gapchuk-icons.ttf?2sfz1v") format("truetype"), url("../fonts/gapchuk-font/gapchuk-icons.woff?2sfz1v") format("woff"), url("../fonts/gapchuk-font/gapchuk-icons.svg?2sfz1v#gapchuk-icons") format("svg");
  font-weight: normal;
  font-style: normal; }
i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'gapchuk-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-fb:before {
  content: "\f09a"; }

.icon-gp:before {
  content: "\f0d5"; }

.icon-mailto:before {
  content: "\f0e0"; }

.icon-insta:before {
  content: "\f16d"; }

@font-face {
  font-family: "georgia-normal";
  src: url("../fonts/georgia/georgia.ttf"); }
@font-fase {
  font-family: "georgia-bold";
  src: url("../fonts/georgia/georgia-bold.ttf"); }
@font-face {
  font-family: "pt-sans-normal";
  src: url("../fonts/pt-sans/pt-sans.ttf"); }
@font-face {
  font-family: "pt-sans-bold";
  src: url("../fonts/pt-sans/pt-sans-bold.ttf"); }
@font-face {
  font-family: "pt-sans-italic";
  src: url("../fonts/pt-sans/pt-sans-italic.ttf"); }
@font-face {
  font-family: "pt-sans-bold-italic";
  src: url("../fonts/pt-sans/pt-sans-bold-italic.ttf"); }
body,
html {
  min-height: 100%; }

section {
  height: 100vh !important;
  width: 100% !important; }

nav {
  background-color: white;
  height: 85px;
  position: fixed;
  top: 0px;
  left: 0px;
  overflow: hidden;
  width: 100%;
  display: block !important;
  position: fixed; }
  nav ul {
    padding-top: 7px; }
  nav ul a {
    color: #333F45;
    font-weight: 500;
    font-size: 17px; }

header.main {
  z-index: 999999999;
  position: relative;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  header.main .logo {
    margin-top: 6px;
    float: left;
    font-size: 100px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    border: 2px solid #333F45;
    width: 75px;
    height: 75px; }
    header.main .logo > i {
      color: #333F45;
      font-size: 68px;
      margin-top: 7px; }
  header.main .logotype {
    height: 80px; }
  header.main .left {
    margin-left: 10px; }
  header.main span {
    font-family: "georgia-normal"; }
  header.main .logo-title {
    text-transform: uppercase; }
  header.main .logo-title,
  header.main .logo-subtitle {
    font-family: "pt-sans-normal";
    color: #333F45;
    font-size: 28px;
    text-align: center; }
  header.main .logo-subtitle {
    display: block;
    font-size: 20px;
    margin-top: -40px; }

.image-filter {
  min-height: 100%;
  height: auto !important;
  width: 100%;
  left: 0;
  position: relative;
  background-color: rgba(0, 0, 0, 0.4);
  content: none; }

.text-wrapper {
  color: white;
  position: absolute;
  z-index: 3;
  bottom: 10%; }

main.content {
  overflow: hidden; }
  main.content section.hero {
    background-image: url(../img/hero-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    left: 0px;
    top: 0px;
    z-index: -10; }
    main.content section.hero .scroll-down {
      position: absolute;
      right: 0;
      bottom: 50px;
      left: 0;
      margin: auto;
      width: 34px;
      height: 55px; }
    main.content section.hero .mousey {
      z-index: 10;
      width: 3px;
      padding: 10px 15px;
      height: 35px;
      border: 2px solid #fff;
      border-radius: 25px;
      opacity: 0.75;
      box-sizing: content-box; }
    main.content section.hero .scroller {
      width: 3px;
      height: 10px;
      border-radius: 25%;
      background-color: #fff;
      animation-name: scroll;
      animation-duration: 2.2s;
      animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
      animation-iteration-count: infinite; }
@keyframes scroll {
  0% {
    opacity: 0; }
  10% {
    transform: translateY(0);
    opacity: 1; }
  100% {
    transform: translateY(15px);
    opacity: 0; } }
.divider {
  margin-top: 14px;
  display: block;
  width: 64%;
  height: 3px;
  background-color: white; }

.title {
  font-family: "georgia-bold";
  width: 34%;
  font-size: 70px;
  font-weight: 900; }

.text-block {
  margin-left: -60px;
  margin-top: -20px; }

.info-text {
  width: 90%;
  font-family: "pt-sans-normal";
  font-size: 28px; }

section.individual {
  position: relative;
  background-color: black;
  z-index: 1; }
  section.individual .ind-photo {
    background-image: url(../img/ind-photo1.jpg);
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vh;
    position: absolute;
    right: 0px;
    bottom: 0px; }
  section.individual .text-wrapper {
    top: 10%;
    z-index: 10; }
  section.individual .text-block {
    margin-left: -60px;
    margin-top: -20px; }
@font-face {
  section.individual .text-block {
    font-family: 'gapchuk-icons';
    src: url("../fonts/gapchuk-font/gapchuk-icons.ttf?2sfz1v") format("truetype"), url("../fonts/gapchuk-font/gapchuk-icons.woff?2sfz1v") format("woff"), url("../fonts/gapchuk-font/gapchuk-icons.svg?2sfz1v#gapchuk-icons") format("svg");
    font-weight: normal;
    font-style: normal; } }
    section.individual .text-block i {
      /* use !important to prevent issues with browser extensions that change fonts */
      font-family: 'gapchuk-icons' !important;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      /* Better Font Rendering =========== */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; }
    section.individual .text-block .icon-fb:before {
      content: "\f09a"; }
    section.individual .text-block .icon-gp:before {
      content: "\f0d5"; }
    section.individual .text-block .icon-mailto:before {
      content: "\f0e0"; }
    section.individual .text-block .icon-insta:before {
      content: "\f16d"; }
@font-face {
  section.individual .text-block {
    font-family: "georgia-normal";
    src: url("../fonts/georgia/georgia.ttf"); } }
@font-fase {
  section.individual .text-block {
    font-family: "georgia-bold";
    src: url("../fonts/georgia/georgia-bold.ttf"); } }
@font-face {
  section.individual .text-block {
    font-family: "pt-sans-normal";
    src: url("../fonts/pt-sans/pt-sans.ttf"); } }
@font-face {
  section.individual .text-block {
    font-family: "pt-sans-bold";
    src: url("../fonts/pt-sans/pt-sans-bold.ttf"); } }
@font-face {
  section.individual .text-block {
    font-family: "pt-sans-italic";
    src: url("../fonts/pt-sans/pt-sans-italic.ttf"); } }
@font-face {
  section.individual .text-block {
    font-family: "pt-sans-bold-italic";
    src: url("../fonts/pt-sans/pt-sans-bold-italic.ttf"); } }
section.goods {
  font-family: "georgia-normal";
  background-color: #ededed;
  padding: 80px 0;
  position: relative;
  height: auto !important; }
  section.goods .product {
    position: relative;
    text-align: center;
    height: 770px;
    border: 1px solid transparent; }
    section.goods .product.center .aligner {
      height: 736px; }
    section.goods .product.center .product-info {
      bottom: 176px; }
    section.goods .product.right .aligner {
      height: 600px; }
    section.goods .product.right .product-info {
      bottom: 40px; }
  section.goods .product-popup {
    position: absolute;
    transition: opacity 200ms ease;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0;
    background-color: white;
    opacity: 0;
    z-index: 10; }
    section.goods .product-popup .product-about {
      display: table-cell;
      vertical-align: middle; }
    section.goods .product-popup .product-about-title {
      font-family: "georgia-normal";
      font-weight: bold;
      font-size: 50px; }
    section.goods .product-popup .product-about-text {
      font-family: "pt-sans-normal";
      font-weight: 500;
      font-size: 20px;
      margin: 30px; }
  section.goods .product .center .product-popup {
    bottom: 176px; }
  section.goods .product:hover {
    border: 1px solid black; }
  section.goods .product:hover .product-popup {
    opacity: 0.9; }
  section.goods .aligner {
    height: 600px; }
  section.goods .product-info {
    background-color: white;
    text-align: center;
    position: relative;
    bottom: 40px;
    width: 100%;
    height: 180px; }
    section.goods .product-info .title {
      font-family: inherit;
      width: 100%;
      font-size: 36px;
      font-weight: 500; }
    section.goods .product-info .price {
      font-family: inherit;
      font-size: 24px;
      width: 100%; }
    section.goods .product-info .button-order {
      margin: 0 auto;
      color: white;
      border: 1px solid black;
      font-family: "pt-sans-normal";
      background-color: black;
      padding: 10px 57px;
      font-size: 24px;
      position: relative;
      z-index: 20;
      box-shadow: none;
      transition: background 0.3s ease, color 0.3s ease; }
      section.goods .product-info .button-order:hover {
        background-color: white;
        color: black;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        z-index: 20; }

section.bespoke {
  background-image: url(../img/bespoke.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  position: relative;
  left: 0px;
  top: 0px;
  z-index: -10;
  background-color: black; }
  section.bespoke .title,
  section.bespoke .info-text {
    z-index: 11;
    color: white; }
  section.bespoke .text-block {
    margin-top: 215px;
    position: absolute;
    width: 65% !important; }
  section.bespoke .text-wrapper {
    top: 10%; }

section.materials {
  background-image: url(../img/amadeus.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  left: 0px;
  top: -50px;
  z-index: -10; }
  section.materials .materials-image-filter {
    min-height: 100%;
    height: auto !important;
    width: 100%;
    left: 0;
    position: relative;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 10; }
  section.materials .materials-wrapper {
    color: white;
    position: relative;
    padding-top: 100px;
    padding-right: 100px; }
  section.materials .title {
    font-size: 45px;
    width: 100%;
    text-align: right;
    vertical-align: middle;
    margin: 50px 0; }

section.contact-form {
  background-image: url(../img/contact.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 50px;
  position: relative; }
  section.contact-form .image-filter {
    background-color: rgba(0, 0, 0, 0.6); }
  section.contact-form form {
    z-index: 1000;
    top: 80px;
    left: 80px;
    position: absolute;
    width: 90%; }
    section.contact-form form .center-align {
      color: white; }
    section.contact-form form .input-field input,
    section.contact-form form .input-field textarea {
      box-sizing: border-box;
      padding: 5px 10px;
      color: white;
      border: 3px solid white;
      box-shadow: none; }
      section.contact-form form .input-field input:focus,
      section.contact-form form .input-field textarea:focus {
        border: 3px solid white;
        box-shadow: none; }
    section.contact-form form .input-field textarea {
      height: 200px;
      max-height: 250px; }
    section.contact-form form button[type='submit'] {
      float: right;
      background-color: transparent;
      border: 3px solid white;
      box-shadow: none;
      font-weight: bold;
      margin-right: 13px; }
    section.contact-form form button:hover {
      background-color: white;
      color: black;
      box-shadow: 0 0 10px black; }

section.contacts {
  position: relative; }
  section.contacts .row {
    margin-bottom: 0; }
  section.contacts .address {
    font-family: "pt-sans-normal";
    font-size: 33px;
    color: white;
    height: 350px; }
    section.contacts .address .address-left {
      height: 100%;
      background-color: #3F3F3F; }
    section.contacts .address .address-right {
      height: 100%;
      background-color: #303030; }
    section.contacts .address p {
      margin-top: 95px; }
  section.contacts .map-container {
    position: relative;
    height: auto; }
  section.contacts .map-filter {
    height: 100%;
    width: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.2);
    z-index: 100; }
  section.contacts #map {
    width: 100%;
    height: 800px;
    overflow: hidden;
    z-index: 10; }

footer {
  height: 230px;
  background-color: black;
  bottom: 0;
  position: relative;
  color: white;
  text-transform: uppercase;
  font-family: "pt-sans-normal";
  font-size: 20px; }
  footer .socials {
    padding-top: 60px; }
  footer a {
    font-size: 30px;
    display: inline-block;
    height: 50px;
    width: 50px;
    border-radius: 20%;
    background-color: white;
    color: black;
    line-height: 50px;
    text-align: center;
    transition: background 0.3s ease, color 0.3s ease; }
    footer a:hover {
      background-color: black;
      color: white; }
  footer .row {
    margin-bottom: 0; }
  footer .center-align {
    margin-bottom: 0; }

.carousel {
  top: 200px;
  height: 800px; }
  .carousel .carousel-item {
    width: 800px; }
  .carousel ul.indicators {
    bottom: 20px; }
    .carousel ul.indicators li {
      border: 1px solid black;
      border-radius: 50%;
      background-color: white !important; }
      .carousel ul.indicators li.active {
        background-color: black !important; }

.carousel .indicators .indicator-item {
  margin: 70px 5px;
  height: 10px;
  width: 10px; }

/*media queries*/
@media screen and (max-width: 1220px) {
  section.individual .text-wrapper {
    top: 170px; }

  nav.main-menu ul,
  nav.main-menu a {
    display: none; }

  section.goods .product-popup .product-about-title {
    font-size: 30px; }
  section.goods .product-popup .product-about-text {
    font-size: 18px; }
  section.goods .product {
    height: 573px; }
    section.goods .product img {
      height: 400px; }
    section.goods .product.center {
      height: 573px; }
      section.goods .product.center .aligner {
        height: 536px; }
    section.goods .product.right .aligner {
      height: 400px; }

  section.contact-form form {
    left: 35px; }

  section.materials .materials-wrapper {
    padding-right: 20px; } }
@media screen and (max-width: 970px) {
  section.hero .text-wrapper {
    bottom: 150px; }

  .info-text {
    font-size: 22px; }

  .title {
    font-size: 55px; }

  section.individual .text-wrapper .text-block .info-text {
    width: 100%; }

  section.goods .product {
    height: 458px; }
    section.goods .product img {
      height: 290px; }
    section.goods .product.center {
      height: 459px; }
      section.goods .product.center .aligner {
        height: 426px; }
      section.goods .product.center .product-info {
        bottom: 176px; }
    section.goods .product.right .aligner {
      height: 290px; }
    section.goods .product .product-popup .product-about p.product-about-text {
      font-size: 14px; }

  section.contacts .address p {
    font-size: 26px; } }
@media screen and (max-width: 756px) {
  section.goods .product-popup .product-about p.product-about-text {
    font-size: 12px !important; }
  section.goods .product-info {
    font-size: 20px; }
    section.goods .product-info .title {
      font-size: 28px; }
    section.goods .product-info a.button-order {
      font-size: 12px; }

  section.contacts .address p {
    font-size: 20px; } }
@media screen and (max-width: 600px) {
  .text-block {
    margin-left: 0px !important; }

  section.goods .product-popup .product-about .product-about-title {
    font-size: 62px; }
  section.goods .product-popup .product-about p.product-about-text {
    font-size: 24px !important; }
  section.goods .product {
    height: 790px; }
    section.goods .product img {
      height: 610px; }
    section.goods .product.center {
      height: 858px; }
      section.goods .product.center .aligner {
        height: 806px; }
    section.goods .product.right {
      height: 790px; }
      section.goods .product.right .aligner {
        height: 610px; }
  section.goods .product-info {
    font-size: 40px;
    height: 190px; }
    section.goods .product-info a.button-order {
      font-size: 20px; }

  section.contacts #map {
    height: 674px; }
  section.contacts .address {
    height: 50%; }
    section.contacts .address p {
      margin-top: 20px; } }
@media screen and (max-width: 440px) {
  section.hero .text-wrapper {
    bottom: 280px; }

  header.main .logotype {
    height: 53px;
    margin: 10px auto; }

  .title {
    font-size: 40px;
    width: 60%;
    line-height: 1.2; }

  section.goods .product {
    height: 568px; }
    section.goods .product img {
      height: 390px; }
    section.goods .product.center {
      height: 470px; }
      section.goods .product.center .aligner {
        height: 426px; }
    section.goods .product.right {
      height: 470px; }
      section.goods .product.right .aligner {
        height: 290px; }
    section.goods .product .product-popup .product-about p.product-about-title {
      font-size: 40px;
      padding-top: 10px; }
    section.goods .product .product-popup .product-about p.product-about-text {
      font-size: 14px !important; }

  section.bespoke .text-block {
    width: 100% !important; } }
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  section {
    height: 70vh !important; }

  section.contacts #map {
    height: 960px; }

  section.bespoke .text-wrapper {
    top: 20%;
    right: 10%; }

  section.individual .ind-photo {
    height: 100%; }

  section.contact-form {
    height: 55vh !important; } }
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) {
  section {
    height: 70vh !important; }

  section.contacts #map {
    height: 960px; }

  section.bespoke .text-wrapper {
    top: 20%;
    right: 10%; }

  section.individual .ind-photo {
    height: 100%; }

  section.contact-form {
    height: 55vh !important; } }
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  section {
    height: 70vh !important; }

  section.contacts #map {
    height: 960px; }

  section.bespoke .text-wrapper {
    top: 20%;
    right: 10%; }

  section.individual .ind-photo {
    height: 100%; }

  section.contact-form {
    height: 55vh !important; } }
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
  section {
    height: 70vh !important; }

  section.contacts #map {
    height: 960px; }

  section.bespoke .text-wrapper {
    top: 20%;
    right: 10%; }

  section.individual .ind-photo {
    height: 100%; }

  section.contact-form {
    height: 55vh !important; } }
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  section {
    height: 70vh !important; }

  section.contacts #map {
    height: 960px; }

  section.bespoke .text-wrapper {
    top: 20%;
    right: 10%; }

  section.individual .ind-photo {
    height: 100%; }

  section.contact-form {
    height: 55vh !important; } }

/*# sourceMappingURL=style.css.map */
